{% extends 'base/base.html' %}

{% block title %}Registro Exitoso{% endblock %}

{% block content %}
<div class="container mt-5 text-center">
  <h2 class="text-success">¡Registro exitoso!</h2>
  
  {% if mensaje == "dueño" %}
    <p>El dueño ha sido registrado correctamente.</p>
    <a href="{% url 'registrar_dueno' %}" class="btn btn-outline-primary mt-3">Registrar otro dueño</a>
    <a href="{% url 'registrar_mascota' %}" class="btn btn-outline-success mt-3">Registrar mascota</a>
  {% elif mensaje == "mascota" %}
    <p>La mascota ha sido registrada correctamente.</p>
    <a href="{% url 'registrar_mascota' %}" class="btn btn-outline-success mt-3">Registrar otra mascota</a>
    <a href="{% url 'registrar_dueno' %}" class="btn btn-outline-primary mt-3">Registrar dueño</a>
  {% endif %}
</div>
{% endblock %}