{% extends 'base/base.html' %}

{% block title %}Ver Reservas{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Reservas</h2>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% if reservas %}
        <table class="table table-bordered">
            <thead>
                <tr>
                <th>Servicio</th>
                <th>Tipo</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Dirección</th>
                <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for reserva in reservas %}
                <tr>
                    <td>{{ reserva.get_tipo_servicio_display }}</td>
                    <td>{{ reserva.get_tipo_reserva_display }}</td>
                    <td>{{ reserva.fecha }}</td>
                    <td>{{ reserva.hora }}</td>
                    <td>{{ reserva.direccion|default:"-" }}</td>
                    <td>
                        {% if reserva.get_estado_display == "Pendiente" %}
                            <span class="badge bg-warning text-dark">{{ reserva.get_estado_display }}</span>
                        {% elif reserva.get_estado_display == "Confirmada" %}
                            <span class="badge" style="background-color: #90ee90; color: #222;">{{ reserva.get_estado_display }}</span>
                        {% elif reserva.get_estado_display == "Cancelada" %}
                            <span class="badge bg-danger">{{ reserva.get_estado_display }}</span>
                        {% elif reserva.get_estado_display == "Cerrada" %}
                            <span class="badge bg-success">{{ reserva.get_estado_display }}</span>
                        {% else %}
                            <span class="badge bg-secondary">{{ reserva.get_estado_display }}</span>
                        {% endif %}
                    </td>
                    <td>
                    {% if user.tipo_usuario == 'cliente' and reserva.fecha >= today and reserva.estado == 'pendiente' %}
                        <a href="{% url 'cambiar_estado_reserva' reserva.id 'confirmada' %}" class="btn btn-sm btn-warning">Confirmar Reserva</a>
                        <form method="post" action="{% url 'cancelar_reserva_cliente' reserva.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-danger">Cancelar</button>
                        </form>
                    {% elif user.tipo_usuario == 'cliente' and reserva.fecha >= today and reserva.estado == 'confirmada' %}
                        <form method="post" action="{% url 'cancelar_reserva_cliente' reserva.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-danger">Cancelar</button>
                        </form>
                    {% else %}
                        <span class="text-muted">No cancelable</span>
                    {% endif %}
                    {% if user.tipo_usuario == 'Recepcion' and reserva.tipo_reserva == 'presencial' and reserva.estado == 'confirmada' %}
                    <a href="{% url 'cambiar_estado_reserva' reserva.id 'en_espera' %}" class="btn btn-sm btn-warning">Cliente llegó</a>
                    {% endif %}

                    {% if user.tipo_usuario == 'Operador de agenda' and reserva.tipo_reserva == 'domicilio' and reserva.estado == 'confirmada' %}
                    <a href="{% url 'cambiar_estado_reserva' reserva.id 'en_camino' %}" class="btn btn-sm btn-primary">En camino</a>
                    {% endif %}

                    {% if user.tipo_usuario == 'Veterinario' or user.tipo_usuario == 'Estilista' and reserva.estado == 'en_espera' or reserva.estado == 'en_camino' %}
                    <a href="{% url 'cambiar_estado_reserva' reserva.id 'en_atencion' %}" class="btn btn-sm btn-info">Iniciar atención</a>
                    {% endif %}

                    {% if user.tipo_usuario == 'Veterinario' or user.tipo_usuario == 'Estilista' and reserva.estado == 'en_atencion' %}
                    <a href="{% url 'cambiar_estado_reserva' reserva.id 'finalizada' %}" class="btn btn-sm btn-success">Finalizar</a>
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No tienes reservas registradas.</p>
    {% endif %}
</div>
{% endblock %}