{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Veterinaria{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">🐾 VetComplemento</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">

                    <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>

                    {% if user.is_authenticated %}
                        {% if user.tipo_usuario == 'cliente' %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'ver_reservas' %}">Mis Reservas</a></li>
                            <li class="nav-item"><a class="nav-link" href="">Ver fichas</a></li>

                        {% elif user.tipo_usuario == 'recepcion' %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'panel' %}">Reservas Presenciales</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'registrar_dueno' %}">Registrar Dueño</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'registrar_mascota' %}">Registrar mascota</a></li>

                        {% elif user.tipo_usuario == 'veterinario' %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'panel' %}">Fichas Médicas</a></li>

                        {% elif user.tipo_usuario == 'operador' %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'panel' %}">Gestionar Domicilios</a></li>

                        {% elif user.tipo_usuario == 'estilista' %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'panel' %}">Citas Estéticas</a></li>
                        {% endif %}
                    {% endif %}
                </ul>

                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="/perfil/">Mi perfil</a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout/">Cerrar sesión</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="/login/">Iniciar sesión</a></li>
                        <li class="nav-item"><a class="nav-link" href="/registro/">Registrarse</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Bootstrap JS Bundle -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
